body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    background-color: lightblue;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
    /* border: solid red; */
    
}

#layout{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
}
#title{
    display: flex;
    justify-content: center;
}

.one{
    display: flex;
    background-color: red;
    border: 3px solid blue;
    box-sizing: border-box;
    /* margin: 1px; */
    width: 100%;
    height: 100%;
    width: 25px;
    height: 25px;
}

#inputField{
    width: 50px;
}
#inputColorField{
    width: 100px;
}
.pixel{
    border: solid red 1px;
    box-sizing: border-box;
}